// colors
$color-bluewood: #2C3E50;
$color-dove-gray: #666666;
$color-mischka: #DEDCE5;
$color-picton-blue: #32C7F2;
$color-gray: #C3C3BD;
$color-white: #FFFFFF;
$color-black: #000000;
$color-mulled-wine: #443E6B;
$color-french-gray: #C6C7CE;
$color-athens-gray: #E9E8EE;
$color-black-shadowed: rgba(0,0,0,0.3);
